.Camera {
    position:absolute;
    left:15vw;
    top:15vh;
}

.Camera * {
    font-family: 'Montserrat', sans-serif;
}

.Camera label {
    color: #fff;
}

.Camera p {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

* {
    text-decoration: none;
}